<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Loop </title>
</head>
<body>
    
    <div id="ForLoop">
        <ul>
            <li v-for="(car, key) in cars">
                {{ key }} : {{ car }}
            </li>
        </ul>

        <ul>
            <li v-for="(std , key) in students">
                {{ key }} : {{ std }}
            </li>
        </ul>
    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="for_loop.js"></script>
</body>
</html>